a:active{color: #f0f0f0;}
.user-face{width: 5em; vertical-align: middle; margin-right: 0.5em;}
.user-name{display: inline}
.nav-list{margin-top: 2em;}
.panel-footer{position: absolute;bottom: 0.5em;font-size: 0.84em;}
.footer li{font-size: 0.5em;}
